
// Basic Toastmasters colors
$tm-blue: #004156;
$tm-yellow: #F2DF74;
$tm-grey: #A9B2B1;
$tm-red: #CD202C;
$tm-crimson: #772432;

// Responsive Media Queries
$responsive-phone: "only screen and (max-width: 519px)";
$responsive-tablet: "only screen and (min-width: 520px) and (max-width: 779px)";
$responsive-tablet-desktop: "only screen and (min-width: 520px)";
$responsive-desktop: "only screen and (min-width: 780px)";

// Fonts
$font-main: "Open Sans", Arial, Helvetica, sans-serif;
$font-header: Arial, Helvetica, sans-serif;

/* Bootstrap global overrides */

body {
	font-family: $font-main;

	@media #{$responsive-phone} {
		padding: 0 0 85px 0;
	}

	@media #{$responsive-tablet-desktop} {
		padding: 0 0 100px 0;
	}
}

h1, h2, h3, h4, h5 {
	font-family: $font-header;
	font-weight: bold;
	text-align: center;
}

h1 {
	color: $tm-red;
	font-size: 34px;
}

h2 {
	color: $tm-blue;
	font-size: 28px;
}

.page-header {
	border-bottom: none;
}

.checkbox {
	.help-block {
		padding-left: 20px;
	}
}

.label {
	font-size: inherit;
	padding: {
		top: 0.1em;
		bottom: 0.2em;
	}

	.fa-spin {
		margin-right: .6em;
	}
}

.table {
	tfoot {
		tr {
			td, th {
				border-top: 2px solid #ddd;
			}
		}
	}
}

/* TLI custom elements */

body {
	@media #{$responsive-tablet-desktop} {
		&.tli-navigated {
			padding-top: 50px;
		}
	}

	&.tli-signin {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #eee;
	}
}

.tli-form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;

	.tli-form-signin-heading,
	.checkbox {
		margin-bottom: 10px;
	}

	.checkbox {
		font-weight: normal;
	}

	.form-control {
		position: relative;
		height: auto;
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
	}

	.form-control:focus {
		z-index: 2;
	}

	input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.tli-social-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;

	a {
		border-radius: .3em;
		display: block;
		font-size: 1.2em;
		text-align: left;

		&:hover {
			text-decoration: none;
		}

		i {
			border-right: 1px solid #eee;
			margin-right: .3em;
			padding: .6em;
		}

		&.tli-google {
			background: #dd4b39;
			color: #FFF;
		}
	}
}

.tli-form-group-dependent {
	padding-left: 20px;
}

table {
	&.tli-currencies-1 {
		tr {
			td:last-child, th:last-child {
				text-align: right;
			}
		}
	}

	&.tli-currencies-2 {
		tr {
			td:nth-last-child(-n+2), th:nth-last-child(-n+2) {
				text-align: right;
			}
		}
	}
}

.tli-table-registration-details {
	width: 100%;

	th, td {
		padding: {
			top: 3px;
			bottom: 3px;
		}
		line-height: 1.42857143;
		vertical-align: top;
		width: 50%;

		&:first-child {
			padding-left: 3px;
		}

		&:last-child {
			padding-right: 3px;
		}
	}

	th {
		color: #777;
	}

	td {
		h4 {
			margin-bottom: 2px;
		}
	}
}

.tli-table-gravatar {
	img {
		border-radius: 3px;
		margin: -5px 0.3em -4px 0;
	}
}

.tli-progress-bar-none {
	background: none;
	color: #000;
}

.lang-pl {
	&:before {
		content: url('../img/pl.png');
	}
}

.lang-en {
	&:before {
		content: url('../img/us.png');
	}
}

.chart-loader {
	display: block;
	font-size: 28px;
	padding: 1em 0;
	text-align: center;
}

.tli-navigation-menu {
	ul, li {
		margin: 0;
		padding: 0;
	}

	li {
		font-size: 1.4rem;
		line-height: 1;

		@media #{$responsive-tablet-desktop} {
			display: inline-block;
		}
	}

	a {
		display: block;
		padding: 1.2rem .8rem;
		position: relative;
		text-decoration: none;
	}
}

#tli-navigation-bar {
	background: $tm-crimson;

	@media #{$responsive-tablet-desktop} {
		position: fixed;
		top: 0;
		width: 100%;
	}

	.container {
		padding: 0;
		position: relative;
	}

	a {
		color: #FFF;
		transition: background-color 250ms ease-in-out;

		@media #{$responsive-phone} {
			border-bottom: 1px solid $tm-red;
		}

		&:hover, &.tli-current {
			background: $tm-red;

			@media #{$responsive-tablet-desktop} {
				border-bottom: 3px solid darken($tm-red, 10%);
				margin-bottom: -3px;
			}
		}
	}

}

#tli-main-navigation {
	li {
		&:first-child {
			a {
				background: $tm-yellow;
				color: #000;

				@media #{$responsive-phone} {
					border-bottom-width: 0;
				}

				&:hover, &.tli-current {
					border-bottom-color: darken($tm-yellow, 30%);
				}
			}
		}
	}
}

#tli-side-navigation {
	@media #{$responsive-phone} {
		a {
			i {
				display: none;
			}
		}
	}

	@media #{$responsive-tablet-desktop} {
		position: absolute;
		right: 0;
		top: 0;

		li {
			font-size: 1.6rem;
		}

		a {
			padding: 1.05rem 1.2rem;
			min-height: 4.1rem;
			box-sizing: border-box;

			&:hover {
				&:before {
					border: 7px solid transparent;
					border-bottom-color: $tm-red;
					bottom: -10px;
					content: "";
					display: inline-block;
					height: 0;
					margin-right: -5px;
					position: absolute;
					right: 50%;
					width: 0;
				}

				&:after {
					background: $tm-red;
					border-radius: 5px;
					font-size: 1.2rem;
					right: 50%;
					top: calc(100% + 9px);
					content: attr(data-title);
					display: inline-block;
					padding: .8rem 1.2rem;
					position: absolute;
					white-space: nowrap;
					-webkit-transform: translateX(50%);
					transform: translateX(50%);
				}
			}

			span {
				position: absolute;
				margin-left: -1000em;
			}
		}
	}
}
