
// Basic Toastmasters colors
$tm-blue: #004156;
$tm-yellow: #F2DF74;
$tm-grey: #A9B2B1;
$tm-red: #CD202C;
$tm-crimson: #772432;

// Fonts
$font-main: "Open Sans", Arial, Helvetica, sans-serif;
$font-header: Arial, Helvetica, sans-serif;

/* Bootstrap basics overrides */

body {
	font-family: $font-main;
	padding: 0 0 100px 0;

	&.signin {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #eee;
	}
}

h1, h2, h3, h4, h5 {
	font-family: $font-header;
	font-weight: bold;
	text-align: center;
}

h1 {
	color: $tm-red;
	font-size: 34px;
}

h2 {
	color: $tm-blue;
	font-size: 28px;
}

.page-header {
	border-bottom: none;
}

.checkbox {
	.help-block {
		padding-left: 20px;
	}
}

.label {
	font-size: inherit;

	.fa-spin {
		margin-right: .6em;
	}
}

.table {
	tfoot {
		tr {
			td, th {
				border-top: 2px solid #ddd;
			}
		}
	}
}

/* Custom elements */

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;

	.form-signin-heading,
	.checkbox {
		margin-bottom: 10px;
	}

	.checkbox {
		font-weight: normal;
	}

	.form-control {
		position: relative;
		height: auto;
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
	}

	.form-control:focus {
		z-index: 2;
	}

	input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.social-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;

	a {
		border-radius: .3em;
		display: block;
		font-size: 1.2em;
		text-align: left;

		&:hover {
			text-decoration: none;
		}

		i {
			border-right: 1px solid #eee;
			margin-right: .3em;
			padding: .6em;
		}

		&.google {
			background: #dd4b39;
			color: #FFF;
		}
	}
}

.form-group-dependent {
	padding-left: 20px;
}

table {
	&.currencies-1 {
		tr {
			td:last-child, th:last-child {
				text-align: right;
			}
		}
	}

	&.currencies-2 {
		tr {
			td:nth-last-child(-n+2), th:nth-last-child(-n+2) {
				text-align: right;
			}
		}
	}
}

.table-registration-details {
	width: 100%;

	th, td {
		padding: {
			top: 3px;
			bottom: 3px;
		}
		line-height: 1.42857143;
		vertical-align: top;
		width: 50%;

		&:first-child {
			padding-left: 3px;
		}

		&:last-child {
			padding-right: 3px;
		}
	}

	th {
		color: #777;
	}

	td {
		h4 {
			margin-bottom: 2px;
		}
	}
}

.progress-bar-none {
	background: none;
	color: #000;
}
