
body {
	padding: 0 0 100px 0;

	&.signin {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #eee;
	}
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;

	.form-signin-heading,
	.checkbox {
		margin-bottom: 10px;
	}

	.checkbox {
		font-weight: normal;
	}

	.form-control {
		position: relative;
		height: auto;
		box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
	}

	.form-control:focus {
		z-index: 2;
	}

	input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	input[type="password"] {
		margin-bottom: 10px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
}

.social-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;

	a {
		border-radius: .3em;
		display: block;
		font-size: 1.2em;
		text-align: left;

		&:hover {
			text-decoration: none;
		}

		i {
			border-right: 1px solid #eee;
			margin-right: .3em;
			padding: .6em;
		}

		&.google {
			background: #dd4b39;
			color: #FFF;
		}
	}
}

.form-group-dependent {
	padding-left: 20px;
}

.checkbox {
	.help-block {
		padding-left: 20px;
	}
}

table {
	&.currencies-1 {
		tr {
			td:last-child, th:last-child {
				text-align: right;
			}
		}
	}

	&.currencies-2 {
		tr {
			td:nth-last-child(-n+2), th:nth-last-child(-n+2) {
				text-align: right;
			}
		}
	}
}

.table {
	tfoot {
		tr {
			td, th {
				border-top: 2px solid #ddd;
			}
		}
	}
}

.label {
	font-size: inherit;

	.fa-spin {
		margin-right: .6em;
	}
}
